body{
    display: flex;
    background-color: lightgray;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
.gegevens{
    display: grid;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}