body{
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: yellowgreen;
    color: white;
    padding: 10px 0;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}