body{
    display: flex;
    background-color: lightgray;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
.gegevens{
    display: grid;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgb(52, 52, 52);
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar ul li{
    display: inline;
    padding: 10px;
}
.navbar ul :hover{
    background-color: rgb(38, 39, 38);
}
button{
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}